<p *ngIf="!tasks"><em>Loading...</em></p>

<table *ngIf="tasks">
  <thead>
    <tr>
      <th>OrderNo</th>
      <th>TaskID</th>
      <th>TaskName</th>
      <th></th>
      <th><button (click)="update()">update</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let task of tasks'>
      <td>{{task.orderNo}}</td>
      <td>{{task.taskID}}</td>
      <td><input type="text" [(ngModel)]='task.taskName'/></td>
      <td><button (click)='up(task)'>up</button></td>
      <td><button (click)='down(task)'>down</button></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input [(ngModel)]='newTask.taskName' type="text"
               (keyup.enter)="addNewTask()" />
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
